.imageDiv {
    margin-bottom: 20px;
}

.imgWrapper {
    height: 200px;
}

.image-scroller {
    overflow-y: scroll;
    height: 36rem;
}

.full-image-modal {
    width: 90% !important;
    max-width: 90%;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

#loadingImg {
    width: 200px;
    height: 200px;
    background-image: url('./loading.gif');
    margin-left: auto;
    margin-right: auto;
}

.react-tagsinput-tag {
    background-color: #ddd;
}