.imageDiv {
    margin-bottom: 20px;
}

.imgWrapper {
    height: 200px;
}

.img-center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-lg {
    width: 90% !important
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

#loadingImg {
    width: 200px;
    height: 200px;
    background-image: url('./loading.gif');
    margin-left: auto;
    margin-right: auto;
}

.saveTagsBtn {
    height: 3em;
}

.react-tagsinput-tag {
    background-color: #ddd;
}