:root {
  box-sizing: border-box;
}

body {
  --back-color: #eee;
  --font-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
}

.container > * + * {
  margin-top: 1em;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column > * {
  margin-bottom: 0;
}

.flex-column > * + * {
  margin-top: 1em;
}

header {
  background-color: var(--back-color);
  border-radius: 0.5em;
  padding: 1em;
  align-items: baseline;
  position: sticky;
  top: 0;
}

header > * + * {
  padding-left: 1.5em;
}

header a:hover {
  color: darkblue;
  text-decoration: underline;
}

@media (max-width: 30em) {
  header.flex {
    flex-direction: column;
    align-items: center;
  }

  header.flex > * + * {
    padding-left: 0;
    padding-top: 0.5em;
  }
}

.brand {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header-link {
  color: var(--font-color);
  text-transform: uppercase;
  text-decoration: none;
}

.search-row {
  justify-content: center;
}

.search-field {
  flex: 0 0 80%;
  display: flex;
}

.search-input {
  flex-grow: 1;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid var(--back-color);
  padding: 0 0.5em;
}

.search-input:focus {
  outline: none;
}

.search-button {
  background-color: var(--back-color);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1em;
}

.sort-by-text {
  display: inline;
  padding: 0.5em 1em;
  background-color: var(--back-color);
  border: 0;
  border-radius: 0.5em 0 0 0.5em;
  font-size: 1em;
}

.sort-by-selector {
  flex-grow: 1;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid var(--back-color);
  padding: 0 0.5em;
}

.sort-by-selector:focus {
  outline: none;
}

.page-link {
  display: inline-block;
  background-color: var(--back-color);
  color: var(--font-color);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-decoration: none;
}

.page-link:hover {
  color: darkblue;
}

.next-page {
  margin-left: auto;
}

.thumbnails-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}

@media (max-width: 30em) {
  .thumbnails-grid {
    grid-template-columns: 1fr;
  }
}

.imageDiv {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background-color: var(--back-color);
  padding: 0.5em;
  border-radius: 0.5em;
  align-items: center;
}

.imgWrapper {
  flex-grow: 1;
}

.imgWrapper img {
  cursor: zoom-in;
  width: 100%;

}

.react-tagsinput {
  width: 100%;
  margin-top: 0.5em;
  border-radius: 0.2em;
}

.react-tagsinput-tag {
  background-color: var(--back-color);
}

.full-screen-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.full-screen-dialog {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 11;
  border-radius: 0.5em;
}

@media (max-width: 30em) {
  .full-screen-dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.dialog-header {
  padding: 1em;
  border-bottom: 1px solid var(--back-color);
  position: relative;
}

.dialog-body {
  flex-grow: 1;
  position: relative;
}

.full-image-container {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}

@media (max-width: 30em) {
  .full-image-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.full-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
}

.close-button::after {
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.1em;
  text-indent: 0;
  content: "\00D7";
}

.loading-indicator {
  position: fixed;
  top: 40%;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 0;
  z-index: 11;
  border-radius: 0.2em;
  border: 1px solid var(--back-color);
  background-color: white;
}

#loadingImg {
  width: 200px;
  height: 200px;
  background-image: url("loading.gif");
  margin: 0 auto;
}

.slideshow-instruments {
  display: flex;
  margin: 0.5em;
  margin-top: 1em;
  padding: 0;
}

.slideshow-interval-selector {
  flex-grow: 1;
  border-radius: 0.5em;
  border: 1px solid var(--back-color);
  padding: 0 0.5em;
  margin: 0.5em;
}

.slideshow-button {
  background-color: var(--back-color);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em;
  flex-grow: 0;
  width: 6em;
  margin: 0.5em;
}

@media (max-width: 30em) {
  .slideshow-button {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .slideshow-interval-selector {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
}